/*GENERALES*/

*{
    padding: 0px;
    margin:  0px;
    font-family: sans-serif, Helvetica, Arial;
}

a{
    color: #01b1ea;
}
a:visited{
    color: #01b1ea;
}

a:hover{
    color: #555555;
}

.alert_green{
    color: green;
}
.alert_red{
    color: red;
}


/*CONTAINER*/
#container{
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
    min-height: 400px;
    text-align: justify;
    
}

#header{
    height: 250px;
    background: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center center;
    
}

/*logo*/
#logo{
    line-height: 55px;
    font-size: 20px;
    color: white;
    width: 20%;
    float: left;
    
}

/*MENU*/
#menu{
    font-size: 20px;
    float: right;
    color: white;
    width: auto;
    height: 55px;
}


#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
}

#menu a{
    color: white;
    text-decoration: none;
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}



#menu a:hover{
    background: #01b1EA;
}

#title{
    clear: both;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 50px;
}
/*CONTENT*/

#content{
    margin: 10px 10px 10px 30px;
    overflow: hidden;
    background: white;
}
/*FORMS*/

label,
input[type="text"],
input[type="password"],
input[type="email"],
select{
    display: block;
    width: 75%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select{
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
   background: white;
   padding: 2px;
   color: gray;
   transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border: 1px solid #1579b5;
    color: black;
}

input[type="button"],
input[type="submit"],
button, .button{
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979CD;
    border: 1px solid #1160BE;
    cursor: pointer;
}

.button{
    background: #33AE3D;
    color: white !important;
    text-decoration: none;
}

label,
input[type="button"],
input[type="submit"],
button{
    display: block;
    margin-top: 10px;
}
